@font-face {
    font-family: 'PPFraktionMono';
    src: url('/static/fonts/PPFraktionMono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'KHInterference';
    src: url('/static/fonts/KHInterference-Regular.otf') format('opentype');
}

body {
    font-family: 'PPFraktionMono', monospace;
    letter-spacing: -1px;
    background: #fff;
    color: #000;
}

.title, .subtitle {
    text-align: center;
}

.title {
    font-size: 100px;
    letter-spacing: -10px;
    margin: 250px 0 0;
}

.subtitle {
    font-size: 16px;
}

.button {
    font-family: 'KHInterference', monospace;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 50px auto 0;
    display: block;
    text-align: center;
    transition: transform 0.2 ease;
}

.button:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.button:active {
    transform: scale(1); /* Return to original scale on click */
}

.middle, .copyrights, .links {
    font-size: 12px;
    position: absolute;
    line-height: 1;
}

.middle {
    top: 20px;
    right: 20px;
}

.copyrights {
    left: 20px;
    bottom: 20px;
}

.links {
    right: 20px;
    bottom: 20px;
    text-align: right;
}

.links a {
    color: inherit;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Fade-out animation */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Fade-in animation */
.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
