@font-face {
    font-family: 'PPFraktionMono';
    src: url('/static/fonts/PPFraktionMono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'KHInterference';
    src: url('/static/fonts/KHInterference-Regular.otf') format('opentype');
}

.title, body, .copyrights, .links {
    font-family: 'PPFraktionMono', monospace;
}

.title {
    letter-spacing: -10px;
    font-size: 100px;
    margin: 20px 0 0;
}

body {
    letter-spacing: -1px;
    background-color: #fff;
    color: #000;
    margin-top: 50px;
    text-align: center;
}

.button {
    font-family: 'KHInterference', monospace;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.button:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-color: #ffffff;
}

.copyrights, .links {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
}

.copyrights {
    left: 20px;
}

.links {
    right: 20px;
}

.links a {
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}
