@font-face {
    font-family: 'PPFraktionMono';
    src: url('/static/fonts/PPFraktionMono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'KHInterference';
    src: url('/static/fonts/KHInterference-Regular.otf') format('opentype');
}

body {
    font-family: 'PPFraktionMono', monospace;
    letter-spacing: -1px;
    background: #fff;
    color: #000000;
}


.typewriter {
    position: absolute;
    left: 20px;
    top: 20px;
    line-height: 1;
    white-space: pre-line;
    font-size: 12px;
    visibility: hidden;
}
  
  
  
  
  