<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANCHOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>
    <p class="title">WELCOME TO <span style="color: #3a9cff;">ANCHOR</span>.</p>
    <p>THE REEF AWAITS, <em>DIVER</em>. . . HOW WILL <em>YOU</em> NAVIGATE ITS WATERS?</p>
    <button class="button">DIVE</button>
    <p class="copyrights">Copyright ©2025. All rights reserved.</p>
    <p class="links">
    <a href="https://github.com/ThinkTrout/ANCHOR" target="_blank" rel="noopener noreferrer">CREATED BY THINKTROUT</a>
    <a href="https://github.com/ThinkTrout" target="_blank" rel="noopener noreferrer">GITHUB</a>
    <a href="https://discord.com/users/ThinkTrout" target="_blank" rel="noopener noreferrer">DISCORD</a>
    <a href="https://youtube.com/@ThinkTrout" target="_blank" rel="noopener noreferrer">YOUTUBE</a>
    <a href="https://x.com/ThinkTrout" target="_blank" rel="noopener noreferrer">X</a>
    <a href="https://reddit.com/user/ThinkTrout16055" target="_blank" rel="noopener noreferrer">REDDIT</a>
    <a href="https://twitch.tv/ThinkTrout" target="_blank" rel="noopener noreferrer">TWITCH</a>
    </p>
</body>
</html>
